///*------------------------------------*\
//    #BASE LINKS
//\*------------------------------------*/




// Remove default style for link
a
    color wf_link-color
    transition( all, 0.25s )
    &:hover
        color wf_link-color-hover
        text-decoration none

.removeLink
    color inherit
    text-decoration none
    &:hover
        color inherit
