/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #BASE PAGE
//\*------------------------------------*/




// Base style for web-page
html
    rem-fallback( font-size, wf_font-size )
    line-height wf_line-height / wf_font-size
    background-color wf_background-color
    color wf_labeur-color
    overflow-y scroll
    min-height 100%
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased
