///*------------------------------------*\
//    #BASE PARAGRAPH
//\*------------------------------------*/




// Comportements of all my paragraph
p
    rem-fallback( margin-bottom, 12px )

dt
    rem-fallback( padding, 8px 0 4px 0)

.span--spacing
    rem-fallback( padding, 0 4px )
