/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #BASE LINKS
//\*------------------------------------*/




// Remove default style for link
.removeLink
    color inherit
    text-decoration none
