///*------------------------------------*\
//    #BASE HEADING
//\*------------------------------------*/




// Personal font-size for heading
wf_heading-size-1 = 41.887px
wf_heading-size-2 = 34.269px
wf_heading-size-3 = 25.888px
wf_heading-size-4 = 21.180px
wf_heading-size-5 = 16px
wf_heading-size-6 = 13.090px

//
h1, .alpha
    rem-fallback( font-size, wf_heading-size-1 )
    font-family wf_font-heading
    rem-fallback( padding, 24px 0 12px 0 )
    rem-fallback( margin-bottom, 14px )
    &:first-child
        padding-top 0

h2, .beta
    rem-fallback( font-size, wf_heading-size-2 )
    font-family wf_font-heading
    rem-fallback( padding, 24px 0 12px 0 )
    rem-fallback( margin-bottom, 14px )
    &:first-child
        padding-top 0

h3, .gamma
    rem-fallback( font-size, wf_heading-size-3 )
    font-family wf_font-heading
    rem-fallback( padding, 24px 0 12px 0 )
    rem-fallback( margin-bottom, 14px )
    &:first-child
        padding-top 0

h4, .delta
    rem-fallback( font-size, wf_heading-size-4 )
    font-family wf_font-heading
    rem-fallback( padding, 24px 0 12px 0 )
    rem-fallback( margin-bottom, 7px )
    &:first-child
        padding-top 0

h5, .epsilon
    rem-fallback( font-size, wf_heading-size-5 )
    font-family wf_font-heading
    rem-fallback( padding, 24px 0 12px 0 )
    rem-fallback( margin-bottom, 7px )
    &:first-child
        padding-top 0

h6, .zeta
    rem-fallback( font-size, wf_heading-size-6 )
    font-family wf_font-heading
    rem-fallback( padding, 24px 0 12px 0 )
    rem-fallback( margin-bottom, 7px )
    &:first-child
        padding-top 0
