///*------------------------------------*\
//    #BASE LISTS
//\*------------------------------------*/




// Fluide images for responsive
li > ul, li > ol, dt, dd
    rem-fallback( margin-bottom, value_line-height( wf_line-height, 5 ) )
