// - blog.html

extends includes/layout

block title
    title Resto Rallye - Actualités

block style
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="../css/fresco/fresco.css")

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--thirteen
    section(itemscope itemtype="http://schema.org/BlogPosting").parallax__body
        h2(itemprop="headline").gamma Les dernières nouvelles
        
        - var numberArticle = 0
        
        div(itemprop="about")
            while numberArticle < 3
                article.articles
                    div(itemprop="pageStart").inline-block.articles__img
                        img(itemprop="image" src="../css/images/mockUp/exempleBlog.jpg" alt="Thumbnail d'un article de blog")
                    div(itemprop="articleBody").inline-block.articles__body
                        h3(itemprop="headline").delta En ce lendemain de soirée
                        span(itemprop="date").block.body__dates Le 7 Janvier 2015
                        p(itemprop="about") Tous mes sens sont émus d'une volupté douce et pure, comme l'haleine du matin dans cette saison délicieuse. Seul, au milieu d'une contrée qui semble fait exprès pour un coeur tel que mien, j'y goûte à longs traits l'ivresse de la vie.
                        p(itemprop="about") Je suis si heureux, mon ami, si absorbé dans le sentiment de ma paisible existence, que mon art en souffre. Incapable de dessiner le mointre trait, la plus faible ébauche, jamais pourtant je ne fus si grand peintre. Quand mon vallon chéri se couvre autour de moi d'une légère vapeur; qu'au-dessus de ma tête le soleil de midi darde ses rayons embrasés sur la sombre voûte de mon bois, au fond duquel, comme d'un sanctuaire, il introduit à peine une tremblante lumière; qu'étendu sur le gazon touffu, à la chute d'un ruisseau, je découvre avec ravissement une multitude de plantes, de fleurs d'une délicatesse infinie.
                - numberArticle++
        
        div(itemprop="pagination").pagination
            span.inline-block.pagination__element
                a(href="#").block.removeLink.pagination__element--links &lang;&lang;
            span.inline-block.pagination__element
                a(href="#").block.pagination__element--current 1
            span.inline-block.pagination__element
                a(href="#").block.pagination__element--links 2
            span.inline-block.pagination__element
                a(href="#").block.pagination__element--links 3
            span.inline-block.pagination__element
                a(href="#").block.removeLink.pagination__element--links &rang;&rang;    


    div.parallax__img.parallax__img--fourteen
    section(itemscope itemtype="http://schema.org/ImageGallery").parallax__body
        h2(itemprop="headline") Nos souvenirs à travers tous nos Rallyes
        - var numberPhoto = 0

        div(itemprop="about")
            while numberPhoto < 20
                div.inline-block.gallery
                    a(itemprop="url" href="../css/images/mockUp/exempleGallery1.jpg" data-fresco-group="unique_name").fresco.gallery__link
                        img(itemprop="image" src="../css/images/mockUp/exempleGallery.jpg" alt="Souvenir des ancien rallye").gallery__img
                - numberPhoto++
        div.pagination
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &lang;&lang;
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--current 1
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 2
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 3
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &rang;&rang;


    div.parallax__img.parallax__img--fiveteen

block footer
    include includes/footer.jade

block script
    script(src="../js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script-min.js")
    script(src="../js/fresco.js")
