// - blog.html

extends includes/layout

block title    
    title Resto Rallye - Actualités

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--thirteen
    div.parallax__body
        p Actualités
    
    div.parallax__img.parallax__img--fourteen
    div.parallax__body
        p Galerie
        
    div.parallax__img.parallax__img--fiveteen

block footer
    include includes/footer.jade
