// - Contact.html

extends includes/layout

block title
    title Resto Rallye - Contact

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--nineteen
    div.parallax__body
        p Formulaire contact
        
    div.parallax__img.parallax__img--twenty
    div.parallax__body
        p Formulaire Restaurant
    
    div.parallax__img.parallax__img--twenty-one

block footer
    include includes/footer.jade
