// - evenement.html

extends includes/layout

block title
    title Resto Rallye - Événement

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div#slideMap.parallax__img
    div.parallax__body
        p Description
            
    div.parallax__img.parallax__img--ten
    div.parallax__body
        p Restaurant
    
    div.parallax__img.parallax__img--eleven
    div.parallax__body
        p Galerie
    
    div.parallax__img.parallax__img--twelve

block footer
    include includes/footer.jade

    script.
        var addressRdv = "Rue Peetermans 80, 4100 Seraing, Belgique"
        var addressRsts = []
