// - index.html

extends includes/layout

block title
    title Resto Rallye - Accueil

block content
    div#slideMap.slideImage
    div.slideText.addText    
        h3 Bienvenue au Resto-Rally
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quos reiciendis numquam accusamus qui aut autem eaque maxime voluptate tempore incidunt enim, placeat sunt ipsum minus, officiis culpa molestiae architecto.
    div#slide6.slideImage

    script.
        var myAddress = "Rue Peetermans 80, 4100 Seraing, Belgique"
