// - evenements.html

extends includes/layout

block title
    title Resto Rallye - Événements

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div#slideMap.parallax__map
    section.parallax__body
        div(itemscope itemtype="http://schema.org/FoodEvent")
            h2(itemprop="headline").gamma
                | Rendez-vous le
                span(itemprop="startDate").span--spacing 21 Octobre
                | à
                span(itemprop="location").span--spacing Seraing
            p(itemprop="description") Pour la première fois dans l'historie de Resto-Rallye, nous organisons un évènement dans la ville de Seraing. Trois restaurants de la ville ont accepté de recevoir nos gastronomades et leurs faire découvrir les spécialités de leurs établissements.
            p(itemprop="description") Que vous soyez habitué ou encore novice à ses évènements, nous vous invitons chaleureusement à nous rejoindre ce mardi 21 Octobre pour de nouvelle découverte gastronomique.
            p(itemprop="description")
                | Retrouver nous à
                span(itemprop="location").span--spacing.hightlight l'Église St Etienne

    div.parallax__img.parallax__img--six
    section.parallax__body
        div(itemscope itemtype="http://schema.org/Thing")
            h2(itemprop="headline").gamma Inscrivez-vous pour ce Resto-Rallye
            p(itemprop="description")
                | Désireux de nous rejoindre à notre prochain événement&nbsp;? Rien de plus simple, il suffit de remplir le formulaire ci-dessous. Dépèchez-vous&nbsp;! Il ne reste plus que
                span.span--spacing.hightlight 30 places
                | disponible.
            form.form
                div.inline-block.form__element
                    label(for="participantRallye").hightlight.label__text
                        | Nombre de participants
                        span.span--spacing.asterisque *
                    input(id="participantRallye" type="text" placeholder="1").input__text
                div.inline-block.form__element
                    label(for="nomRallye").hightlight.label__text
                        | Nom
                        span.span--spacing.asterisque *
                    input(id="nomRallye" type="text" placeholder="Doe").input__text
                div.inline-block.form__element
                    label(for="prenomRallye").hightlight.label__text
                        | Prénom
                        span.span--spacing.asterisque *
                    input(id="prenomRallye" type="text" placeholder="John").input__text
                div.inline-block.form__element
                    label(for="addressRallye").hightlight.label__text Adresse
                    input(id="addressRallye" type="text" placeholder="Rue de la Province, n° 10").input__text
                div.inline-block.form__element
                    label(for="villeRallye").hightlight.label__text Ville
                    input(id="villeRallye" type="text" placeholder="Liège").input__text
                div.inline-block.form__element
                    label(for="postalRallye").hightlight.label__text  Code Postal
                    input(id="postalRallye" type="text" placeholder="4400").input__text
                div.inline-block.form__element
                    label(for="telRallye").hightlight.label__text
                        | Tel ou GSM
                        span.span--spacing.asterisque *
                    input(id="telRallye" type="text" placeholder="0498 32 72 89").input__text
                div.inline-block.form__element
                    label(for="faxRallye").hightlight.label__text Fax
                    input(id="faxRallye" type="text" placeholder="063 14 85 62").input__text
                div.inline-block.form__element
                    label(for="mailRallye").hightlight.label__text
                        | Mail
                        span.span--spacing.asterisque *
                    input(id="mailRallye" type="text" placeholder="johndoe@gmail.com").input__text
                div.inline-block.form__element
                    label(for="confirmMailRallye").hightlight.label__text
                        | Confirmer mail
                        span.span--spacing.asterisque *
                    input(id="confirmMailRallye" type="text" placeholder="johndoe@gmail.com").input__text
                div.block.form__element--fullSize
                    label(for="msgRallye").hightlight.label__text Votre message
                    textarea(id="msgRallye" rows="10" placeholder="Nom des participants et/ou informations complémentaire").input__text
                div.block.form__element--fullSize
                    input(type="submit" value="Inscrivez-vous !").input__submit
                    p.hightlight.label__text
                        | Tous les champs munis d’un astérisque
                        span.span--spacing.asterisque (*)
                        | sont obligatoires

    div.parallax__img.parallax__img--seven
    section.parallax__body
        div(itemscope itemtype="http://schema.org/Thing")
            h2(itemprop="headline").gamma Invitez vos amis à ce Resto-Rallye
            p(itemprop="description")
                | Vous pouvez aussi décider d'offrir des places pour le prochain événement à l'un de vos amis. Vous n'avez qu'à remplir ce formulaire, nous nous occuperons de lui envoyer l'invitation. Dépèchez-vous&nbsp;! Il ne reste plus que
                span.span--spacing.hightlight 30 places
                | disponible.
            form.form
                div.inline-block.form__element
                    label(for="participantInvitation").hightlight.label__text
                        | Nombre de participants
                        span.span--spacing.asterisque *
                    input(id="participantInvitation" type="text" placeholder="1").input__text
                div.inline-block.form__element
                    label(for="nomInvitation").hightlight.label__text
                        | Nom
                        span.span--spacing.asterisque *
                    input(id="nomInvitation" type="text" placeholder="Doe").input__text
                div.inline-block.form__element
                    label(for="prenomInvitation").hightlight.label__text
                        | Prénom
                        span.span--spacing.asterisque *
                    input(id="prenomInvitation" type="text" placeholder="John").input__text
                div.inline-block.form__element
                    label(for="addressInvitation").hightlight.label__text Adresse
                    input(id="addressInvitation" type="text" placeholder="Rue de la Province, n° 10").input__text
                div.inline-block.form__element
                    label(for="villeInvitation").hightlight.label__text Ville
                    input(id="villeInvitation" type="text" placeholder="Liège").input__text
                div.inline-block.form__element
                    label(for="postalInvitation").hightlight.label__text  Code Postal
                    input(id="postalInvitation" type="text" placeholder="4400").input__text
                div.inline-block.form__element
                    label(for="telInvitation").hightlight.label__text
                        | Tel ou GSM
                        span.span--spacing.asterisque *
                    input(id="telInvitation" type="text" placeholder="0498 32 72 89").input__text
                div.inline-block.form__element
                    label(for="faxInvitation").hightlight.label__text Fax
                    input(id="faxInvitation" type="text" placeholder="063 14 85 62").input__text
                div.inline-block.form__element
                    label(for="mailInvitation").hightlight.label__text
                        | Mail
                        span.span--spacing.asterisque *
                    input(id="mailInvitation" type="text" placeholder="johndoe@gmail.com").input__text
                div.inline-block.form__element
                    label(for="confirmMailInvitation").hightlight.label__text
                        | Confirmer mail
                        span.span--spacing.asterisque *
                    input(id="confirmMailInvitation" type="text" placeholder="johndoe@gmail.com").input__text
                div.block.form__element--fullSize
                    label(for="msgInvitation").hightlight.label__text Votre message
                    textarea(id="msgInvitation" rows="10" placeholder="Nom des participants et/ou informations complémentaire").input__text
                div.block.form__element--fullSize
                    input(type="submit" value="Invitez vos amis !").input__submit
                    p.hightlight.label__text
                        | Tous les champs munis d’un astérisque
                        span.span--spacing.asterisque (*)
                        | sont obligatoires

    div.parallax__img.parallax__img--height
    section.position--relative.parallax__body
        - var numberItem = 0
        div.position--relative
            h2.gamma Nos précédents Resto-Rallye
            form.forms__search.forms__search--right
                input(type="text" placeholder="Recherche par Ville").input__text
                input(type="submit" value="S'inscrire").search__submit
                
            while numberItem < 6
                article(itemscope itemtype="http://schema.org/FoodEvent").inline-block.thumbnails
                    a(itemprop="url" href="evenement.html").removeLink
                        h3(itemprop="attendee").delta
                            | Resto-Rallye à
                            span(itemprop="location").span--spacing Namur
                        img(itemprop="image" src="../css/images/mockUp/exempleRallye.jpg" alt="Thumbnails evenement").thumbnails__img
                - numberItem++
            div.pagination
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &lang;&lang;
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 1
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 2
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 3
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &rang;&rang;

    div.parallax__img.parallax__img--nine

block footer
    include includes/footer.jade

block script
    script.
        var addressRdv = "Rue Peetermans 80, 4100 Seraing, Belgique"
        var addressRsts = []

    script(src="../js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script.js")
