// - index.html

extends includes/layout

block title
    title Resto Rallye - Accueil

block content
    div#slideMap.parallax__img
    div.parallax__body.addText    
        h3.gamma Bienvenue au Resto-Rally
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quos reiciendis numquam accusamus qui aut autem eaque maxime voluptate tempore incidunt enim, placeat sunt ipsum minus, officiis culpa molestiae architecto.
    div.parallax__img.parallax__img--six

    script.
        var addressRdv = "Rue Peetermans 80, 4100 Seraing, Belgique"
        var addressRsts = ["Rue Peetermans 40, 4100 Seraing, Belgique", "Rue Puit Marie 10, 4100 Seraing, Belgique","Rue du Marais 30, 4100 Seraing, Belgique"]
