// - index.html


extends includes/layout

block title
    title Resto Rallye - Accueil

block style
    link(rel="stylesheet" href="css/main-min.css")

block header
    - var current = { main: 'index' }
    include includes/header.jade

block content
    div(itemscope itemtype="http://schema.org/Thing").parallax__img.position--relative.parallax__img--one
        blockquote(itemprop="description").quote
            | Ne manquez pas notre prochain 
            a(itemprop="url" href="html/evenements.html").quote__link Rendez-vous 
            | dans la région de Liège, à Seraing
            
    section(itemscope itemtype="http://schema.org/Thing").parallax__body
        h2(itemprop="headline").gamma Bienvenue au Resto-Rallye
        p(itemprop="description") Le Resto Rallye est un itinéraire gourmand en trois restaurants, pourquoi toujours se limiter à un seul restaurant pour déguster l’entièreté d’un menu ?
        p(itemprop="description") Le Resto Rallye offre la possibilité à ses « gastronomades » de faire connaissance, en une seule soirée, de plusieurs établissements d’une ville ainsi que de découvrir une nouvelle région de façon originale et ludique.
        p(itemprop="description") A l’instar d’un rallye automobile, les convives se réunissent dans un espace commun afin d’y déguster l’apéro et les mises en bouche. Chacun y reçoit le roadbook ; on trouve dans celui-ci un plan de la ville avec l’emplacement des restaurants, les bons donnant droit aux mets ainsi que l’itinéraire des restaurants proposés.
        p(itemprop="description") Ensuite, départ vers l’inconnu… Il faut expérimenter les papilles ! C’est la seule constante des étapes… La première halte est consacrée à la dégustation de l‘entrée froide, la deuxième à l’entrée chaude et la dernière au plat principal. Tous les Resto Rallyens se retrouvent ensuite pour savourer le dessert et le café dans le même endroit où ils ont pris l‘apéro et dans lequel ils peuvent échanger leurs avis sur leurs parcours respectifs.

    div.parallax__img.parallax__img--two
    section(itemscope itemtype="http://schema.org/Event").parallax__body
        h2(itemprop="headline").gamma Programme de la soirée
        dl.inline-block.programme
            dt(itemprop="doorTime").hightlight 18.30 - 19.30
            dd(itemprop="description") Réception des Resto Rallyens au lieu d’accueil
            dt(itemprop="duration").hightlight 19.30 - 19.45
            dd(itemprop="description") Déplacement des Resto Rallyens vers les différents restaurants
            dt(itemprop="duration").hightlight 19.45 - 20.30
            dd(itemprop="description") Entrée froide
            dt(itemprop="duration").hightlight 20.30 - 20.45
            dd(itemprop="description") Déplacement des Resto Rallyens vers les différents restaurants
        dl.inline-block.programme
            dt(itemprop="duration").hightlight 20.45 - 21.30
            dd(itemprop="description") Entrée chaude
            dt(itemprop="duration").hightlight 21.30 - 21.45
            dd(itemprop="description") Déplacement des Resto Rallyens vers les différents restaurants
            dt(itemprop="duration").hightlight 21.45 - 22.30
            dd(itemprop="description") Plat principal
            dt(itemprop="endDate").hightlight 22.30 - …
            dd(itemprop="description") Retour au lieu d’accueil pour café, pousse et dessert

    div.parallax__img.parallax__img--three
    section(itemscope itemtype="http://schema.org/Event").parallax__body
        h2(itemprop="headline").gamma Le tarif par participant s'élève à 60 €, ce prix comprend
        ul.tarif
            li(itemprop="description").tarif__element L'apéro et ses zakouskis
            li(itemprop="description").tarif__element L'entrée froide
            li(itemprop="description").tarif__element L'entrée chaude
            li(itemprop="description").tarif__element Le plat principal
            li(itemprop="description").tarif__element Le café et son dessert
            li(itemprop="description").tarif__element Le pousse-café
            li(itemprop="description").tarif__element Ainsi qu'un verre de vin et d'eau dans chaque restaurant

    div.parallax__img.parallax__img--four
    section(itemscope itemtype="http://schema.org/Thing").parallax__body
        - var numberItem = 0
        h2(itemprop="headline").gamma Nous vous conseillons ces adresses

        while numberItem < 3
            article(itemscope itemtype="http://schema.org/Restaurant").inline-block.thumbnails
                a(itemprop="url" href="html/restaurant.html").removeLink
                    h3(itemprop="name").delta
                        | Chez René,
                        span(itemprop="addressLocality").span--spacing Liège
                    img(itemprop="image" src="css/images/mockUp/exempleRest.jpg" alt="Salle de recepetion d'un restaurant").thumbnails__img
            - numberItem++

    div.parallax__img.parallax__img--five

block footer
    include includes/footer.jade

block script
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="js/vendor/jquery.js")
    script(src="js/script-min.js")
