// - restaurant.html

extends includes/layout

block title
    title Resto Rallye - Restaurant

block style
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="../css/fresco/fresco.css")

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div#slideMap.parallax__img
    div(itemscope itemtype="http://schema.org/Restaurant").parallax__body
        div.restaurant
            h3(itemprop="name").gamma Chez René
            div.inline-block.restaurant__body
                h4(itemprop="servesCuisine").delta Cuisine Italienne
                p(itemprop="about") C'est dans une salle au couleur de son pays que René nous à accuilli pour notre soirée, belle table, jolie menu, tout était au rendez-vous pour passer une agréable soirée.
                p(itemprop="about") C'est une fois notre assiette face à nous que nous avons put profiter des talents du son cuisinier, les plats étaient un vrai délice, une explosion de saveur.
                p(itemprop="about") Le service, les plats, la joie, tout était au rendez vous pour cette soirée toute particulière.
            div.inline-block.restaurant__details
                h4(itemprop="headline").delta Coordonnées
                address(itemprop="address")
                    span.block Boulevard Piercot, n° 46
                    span.block 4400, Liège
                div(itemprop="telephone").block.restaurant__details--tel Tel&nbsp;:
                    span.span--spacing 0471 31 77 91
                a(href="#" itemprop="url").block www.chezrené.be
            div.restaurant__gallery
                - var numberPhoto = 0
                h4(itemprop="headline").delta Notre salle
                
                while numberPhoto < 5
                    div.inline-block.gallery
                        a(itemprop="url" href="../css/images/mockUp/exempleRest.jpg" data-fresco-group="unique_name").fresco.gallery__link
                            img(itemprop="image" src="../css/images/mockUp/exempleRest.jpg").gallery__img
                        - numberPhoto++
                
    div.parallax__img.parallax__img--heighteen

block footer
    include includes/footer.jade



block script
    script.
        var addressRdv = "Boulevard Piercot 40, 4400 Liège, Belgique"
        var addressRsts = ["Boulevard Piercot 40, 4400 Liège, Belgique"]

    script(src="../js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script.js")
    script(src="../js/fresco.js")
