// - restaurants.html

extends includes/layout

block title
    title Resto Rallye - Restaurants

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--sixteen
    div.parallax__body
        p Galerie
        
    div.parallax__img.parallax__img--seventeen

block footer
    include includes/footer.jade
