// - restaurant.html

extends includes/layout

block title
    title Resto Rallye - Restaurant

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    p Page Restaurant

block footer
    include includes/footer.jade
