// - restaurants.html

extends includes/layout

block title
    title Resto Rallye - Restaurants

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--sixteen
    section(itemscope itemtype="http://schema.org/Thing").parallax__body
        - var numberItem = 0
        div.position--relative
            h2(itemprop="headline").gamma Les habitués du Resto Rallye
            form.forms__search.forms__search--right
                input(itemprop="object" type="text" placeholder="Recherche par région").input__text
                input(itemprop="target" type="submit" value="S'inscrire").search__submit
                
            while numberItem < 6
                article(itemscope itemtype="http://schema.org/Restaurant").inline-block.thumbnails
                    a(itemprop="url" href="restaurant.html").removeLink
                        h3(itemprop="name").delta
                            | Chez René,
                            span(itemprop="addressLocality").span--spacing Liège
                        img(itemprop="image" src="../css/images/mockUp/exempleRest.jpg" alt="Thumbnail d'un restaurant").thumbnails__img
                - numberItem++
            div.pagination
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &lang;&lang;
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 1
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 2
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 3
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &rang;&rang;
        

    div.parallax__img.parallax__img--seventeen

block footer
    include includes/footer.jade

block script
    script(src="../js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script.js")
