// - restaurant.html

extends includes/layout

block title
    title Resto Rallye - Restaurant

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div#slideMap.parallax__img
    div.parallax__body
        p Info Restaurant
        
    div.parallax__img.parallax__img--heighteen

block footer
    include includes/footer.jade

    script.
        var addressRdv = "Rue Peetermans 80, 4100 Seraing, Belgique"
        var addressRsts = []
