// - restaurant.html

extends includes/layout

block title
    title Resto Rallye - Restaurant

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div#slideMap.parallax__img
    div.parallax__body
        p Info Restaurant

    div.parallax__img.parallax__img--heighteen

block footer
    include includes/footer.jade



block script
    script.
        var addressRdv = "Boulevard Piercot 40, 4400 Liège, Belgique"
        var addressRsts = ["Boulevard Piercot 40, 4400 Liège, Belgique"]

    script(src="../js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script.js")
    script(src="../js/fresco.js")
