// - restaurants.html

extends includes/layout

block title
    title Resto Rallye - Restaurants

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--sixteen
    div.parallax__body
        p Galerie

    div.parallax__img.parallax__img--seventeen

block footer
    include includes/footer.jade

block script
    script(src="js/vendor/modernizr-2.6.2.min.js")
