// - restaurants.html

extends includes/layout

block title
    title Resto Rallye - Restaurants

block header
    - var current = { second: 'html' }
    include includes/header.jade

block content
    div.parallax__img.parallax__img--sixteen
    section(itemscope itemtype="http://schema.org/Thing").parallax__body
        - var numberItem = 0
        div.position--relative
            h2(itemprop="headline").gamma Les habitués du Resto Rallye
            form.forms__search.forms__search--right
                input(itemprop="object" type="text" list="provinces" placeholder="Recherche par région").input__text
                datalist#provinces
                    //- Mais pourquoi des espaces insécables ? À l'utilisation de la sémantique jade, à savoir " option/(value="something") ", le navigateur interprettait de lui même les balises fermante de la balise "option". Et quand on passe l'html au validateur, le manque de contenu de la balise option générait une erreur. D'ou cette petite astuce.
                    option(value="Liège") &nbsp;
                    option(value="Namur") &nbsp;
                    option(value="Luxembourg") &nbsp;
                    option(value="Anvers") &nbsp;
                    option(value="Hainaut") &nbsp;
                    option(value="Brabant Wallon") &nbsp;
                    option(value="Limbourg") &nbsp;
                    option(value="Flandre oriental") &nbsp;
                    option(value="Brabant Flamand") &nbsp;
                input(itemprop="target" type="submit" value="S'inscrire").search__submit
                
            while numberItem < 6
                article(itemscope itemtype="http://schema.org/Restaurant").inline-block.thumbnails
                    a(itemprop="url" href="restaurant.html").removeLink
                        h3(itemprop="name").delta
                            | Chez René,
                            span(itemprop="addressLocality").span--spacing Liège
                        img(itemprop="image" src="../css/images/mockUp/exempleRest.jpg" alt="Thumbnail d'un restaurant").thumbnails__img
                - numberItem++
            div.pagination
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &lang;&lang;
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--current 1
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 2
                span.inline-block.pagination__element
                    a(href="#").block.pagination__element--links 3
                span.inline-block.pagination__element
                    a(href="#").block.removeLink.pagination__element--links &rang;&rang;
        

    div.parallax__img.parallax__img--seventeen

block footer
    include includes/footer.jade

block script
    script(src="../js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script-min.js")
