extends layout

block title
    title Resto Rallye - Accueil

block header
    header
        h2 Menu de navigation du site Resto Rallye
        nav
            ul
                li
                    a(href="html/restaurant.html") Restaurant
                li
                    a(href="html/rallye.html") Rallye
                li.banners
                    a(href="index.html")
                        img(src="css/images/Ecusson.png", alt="Banners Resto Rallye")
                li
                    a(href="html/blog.html") Blog
                li
                    a(href="html/contact.html") Contact
                
block thumbnail
    section.thumbnail
        img(src="css/images/backgroundImage.jpg", alt="Image thumbnail")
        blockquote
            | Le prochain rallye sera dans 
            span 7 jours, 
            | n'oubliez pas de vous 
            a(href="") inscrire    
block content
    section
        h2 Explicatif Resto - Rallye
        div.info
            h3 Resto-Rallye
            p Existant depuis maintenant 10ans, nous sommes une bande de joyeux copains...
        
    section
        h2 Partenaires
        div.partenaire
            h3 Nos partenaires
            p Nous ne travaillons pas seul, à chaque évènement nous rencontrons de nouveau gérant de restaurant heureux d'accueillir nos resto-ralliens. Voici ici un aperçu des meilleurs traiteurs que nous ayons rencontré
            ol
                li
                    a(href="#")
                        img(src="css/images/test.jpeg", alt="Logo restaurant")
                li
                    a(href="#")
                        img(src="css/images/test.jpeg", alt="Logo restaurant")
                li
                    a(href="#")
                        img(src="css/images/test.jpeg", alt="Logo restaurant")

block footer
    footer
        p
            | designed by&nbsp;
            a(href="http://portfolio.simon-leyder.be/") Simon Leyder
            | &nbsp;and&nbsp;
            a(href="http://luc-matagne.be/Portfolio/") Luc Matagne
            |  &nbsp;at 2014

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    script(src="js/script-min.js")
