extends layout

block title
    title Resto Rallye - Accueil

block header
    header
        h2 Menu de navigation du site Resto Rallye
        nav
            ul
                li
                    a(href="html/restaurant.html") Restaurant
                li
                    a(href="html/rallye.html") Rallye
                li.banners
                    a(href="index.html")
                        img(src="css/images/Ecusson.png", alt="Banners Resto Rallye")
                li
                    a(href="html/blog.html") Blog
                li
                    a(href="html/contact.html") Contact
                  
block content
    div#slide1.slideImage
    div.slideText
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia reprehenderit vero dicta aut, consequuntur doloremque delectus. Voluptates atque consequuntur nam, doloremque soluta id odio fugit ipsam sunt maxime magni commodi?
    div#slide2.slideImage
    div.slideText
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia reprehenderit vero dicta aut, consequuntur doloremque delectus. Voluptates atque consequuntur nam, doloremque soluta id odio fugit ipsam sunt maxime magni commodi?
    div#slide3.slideImage
    
        
block footer
    div.slideText
        footer
            p
                | designed and created by&nbsp;
                a(href="http://portfolio.simon-leyder.be/") Simon Leyder
                | &nbsp;and&nbsp;
                a(href="http://luc-matagne.be/Portfolio/") Luc Matagne
                |  &nbsp;at 2014

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    script(src="js/script.min.js")
