extends layout

block title
    title Resto Rallye - Accueil
block stylesheet
    link(rel="stylesheet" href="css/screen.css")
        
block header
    header
        h2 Menu de navigation du site Resto Rallye
        nav
            ul
                li
                    a(href="html/restaurant.html") Restaurants
                li
                    a(href="html/rallye.html") Rallye
                li.banners
                    a(href="index.html")
                        img(src="css/images/Ecusson.png", alt="Banners Resto Rallye")
                li
                    a(href="html/blog.html") Blog
                li
                    a(href="html/contact.html") Contact
                  
block content
    div#slide1.slideImage
        blockquote 
            | Ne manquez pas notre prochain 
            a(href="#") Rendez-vous 
            | dans la région de Namur
    div.slideText.explain
        h3 Bienvenue au Resto-Rally
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quos reiciendis numquam accusamus qui aut autem eaque maxime voluptate tempore incidunt enim, placeat sunt ipsum minus, officiis culpa molestiae architecto.
    div#slide2.slideImage
    div.slideText.slideRestaurant
        h3 Nous vous conseillons ces adresses
        div.restaurants
            a(href="#")
                h4 
                    | Chez René, 
                    span Liège
                img(src="css/images/exempleRest.jpg", alt="")
        div.restaurants
            a(href="#")
                h4 
                    | Chez Norbert, 
                    span Namur
                img(src="css/images/exempleRest.jpg", alt="")
        div.restaurants
            a(href="#")
                h4 
                    | Chez Jean,  
                    span Bruxelles
                img(src="css/images/exempleRest.jpg", alt="")
    div#slide3.slideImage
        
block footer
    div.slideText.myFooter
        footer
            section.nav
                h4 Navigation
                ul
                    li
                        a(href="html/restaurant.html") Restaurant
                    li
                        a(href="html/rallye.html") Rallye
                    li
                        a(href="html/blog.html") Blog
                    li
                        a(href="html/contact.html") Contact
            section.looking
                h4 Notre adresse
                p
                    span Mail&nbsp;: 
                    a(href="mailto adress@gmail.com") adress@gmail.com
                p
                    span Téléphone&nbsp;: 
                    | 0476 34 21 67
                
            section.follow
                h4 Suivez-nous
                ul
                    li.fb
                        a(href="#") Facebook
                    li.rss
                        a(href="#") RSS
            section.newsletter
                h4 NewsLetter
                form#ancreError
                    input(type="text" placeholder="votre@mail.com")
                    input(type="submit" value="S'inscrire")
                    span.error Il y a une faute de frappe bitchies
        div.designed
            p
                | Designed and created by&nbsp;
                a(href="http://luc-matagne.be/Portfolio/") Luc Matagne
                | &nbsp;and&nbsp;
                a(href="http://portfolio.simon-leyder.be/") Simon Leyder
                |  &nbsp;@ 2014

block script
    script(src="js/vendor/modernizr-2.6.2.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="js/vendor/jquery.js")
    script(src="js/script.min.js")
