/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS PARRALAX
//\*------------------------------------*/




// Parallax style
.parallax__body
    padding: 4vh 10%
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.8)
    background: wf_background-parallax

// Parallax images
// - main.jade
.parallax__img--one
    background: url("images/parallax/backgroundImage.jpg") center fixed no-repeat
.parallax__img--two
    background: url("images/parallax/backgroundImage1.jpg") center fixed no-repeat
.parallax__img--three
    background: url("images/parallax/backgroundImage2.jpg") center fixed no-repeat
.parallax__img--four
    background: url("images/parallax/backgroundImage3.jpg") center fixed no-repeat
.parallax__img--five
    background: url("images/parallax/backgroundImage4.jpg") center fixed no-repeat
// - evenements.jade
.parallax__img--six
    background: url("images/parallax/backgroundImage5.jpg") center fixed no-repeat
