/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS HEADER
//\*------------------------------------*/




// Header Style
.header__nav
    position fixed
    width 100%
    text-align center
    background wf_background-header
    rem-fallback( padding, 8px 0 )
    rem-fallback( margin-top, -140px )
    z-index 1
    transition( all, 0.25s )

    +media-query( screen, max-width 960px )
        position static
        rem-fallback( margin-top, -400px )
.header__nav--conn
    rem-fallback( margin-top, -8px )

.nav
    position relative
    border-top 2px solid wf_border-menu
    border-bottom 2px solid wf_border-menu
.nav__conn
    background white
    padding 0
    margin 0
.nav__conn--logout
    text-align right
    rem-fallback( padding, 52px 24px )
.logout--height
    rem-fallback( height, 125px )
    rem-fallback( margin-bottom, 12px )

.nav__element
    font-family wf_font-nav
    rem-fallback( font-size, 20px )
    text-transform uppercase
    rem-fallback( padding, 16px 0 )
    rem-fallback( margin, 0 8px )

    +media-query( screen, max-width 960px )
        display block
        rem-fallback( font-size, 22px )
        rem-fallback( padding, 6px 0 )
        margin 0

.element__link
    color wf_nav-color
    text-decoration none
    &:hover
        color wf_nav-color
        rem-fallback( padding-bottom, 2px )
        border-bottom 1px solid wf_nav-color

.banners
    position relative
    rem-fallback( width, 160px )

    +media-query( screen, max-width 960px )
        margin 0 auto
.banners__link
    position absolute
    top -14px
    left 0

    +media-query( screen, max-width 960px )
        display none

.button__login
    position absolute
    rem-fallback( top, 3.25px )
    rem-fallback( right, 4px )
    rem-fallback( font-size, 16px )
    color wf_nav-color
    transition( all, 0.25s )
    cursor pointer

    +media-query( screen, max-width 960px )
        position static
        display inline-block
        rem-fallback( font-size, 22px )
        rem-fallback( margin, 14px 0 8px )
    &:hover
        opacity 0.6
