/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS PAGINATION
//\*------------------------------------*/




// Style for my pagination
.pagination
    rem-fallback( font-size, 20px )
    text-align center
.pagination__element
    rem-fallback( margin, 0 4px )
    transition( all, 0.25s )
.pagination__element--current
    text-decoration none
    color wf_link-color-hover
    rem-fallback( padding, 12px )
.pagination__element--links
    rem-fallback( padding, 12px )
