    /*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS FORMS
//\*------------------------------------*/




// Forms newsletter AND search
.forms__newsletter
    position relative
.newsletter__submit
    position absolute
    rem-fallback( width, 25px )
    rem-fallback( height, 25px )
    background: url("images/links/sprite.png") -90px -10px
    rem-fallback( top, 10px )
    rem-fallback( right, 5px )
    border none
    rem-fallback( text-indent, -1000000px )
    &:hover
        cursor pointer

.forms__search
    position relative
    rem-fallback( width, 250px )
.forms__search--right
    position absolute
    top 0
    right 0
.search__submit
    position absolute
    rem-fallback( width, 25px )
    rem-fallback( height, 25px )
    background: url("images/links/sprite.png") -120px -10px
    rem-fallback( top, 10px )
    rem-fallback( right, 8px )
    border none
    rem-fallback( text-indent, -1000000px )
    &:hover
        cursor pointer

// Forms
.form
    rem-fallback( margin, 36px 0 )
.form__element
    width 50%
    padding 0 2.5%
    rem-fallback( margin-bottom, 28px )
.form__element--fullSize
    width 100%
    padding 0 2.5%
    rem-fallback( margin-bottom, 28px )
.label__text
    display block
    rem-fallback( margin, 10px 0 )
.input__text
    width 100%
    rem-fallback( font-size, 14px )
    background-color wf_form-background-color
    rem-fallback( padding, 12px 24px )
    border none
    &:focus
        background-color wf_form-background-color-focus
.input__submit
    width 100%
    rem-fallback( font-size, 24px )
    font-family wf_font-heading
    text-transform uppercase
    color wf_nav-color
    rem-fallback( padding, 18px 0 )
    border none
    background wf_background-submit
    transition( all, 0.25s )
    cursor pointer
    &:hover
        background wf_background-submit-hover

// Errors for forms
.error
    position relative
    display block
    rem-fallback( padding, 8px )
    rem-fallback( margin-top, 20px )
    border-top 1px solid wf_border-error
    text-align center
    &:after, &:before
        content ""
        position absolute
        width 0
        height 0
        bottom 100%
        left 50%
        border solid transparent
        pointer-events none
    &:after
        rem-fallback( margin-left, -10px )
        border-color wf_border-error-opacity
        border-bottom-color wf_background-parallax
        rem-fallback( border-width, 10px )
    &:before
        rem-fallback( margin-left, -12px )
        border-color wf_border-error-opacity
        border-bottom-color wf_border-error
        rem-fallback( border-width, 12px )
