/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS PAGINATION
//\*------------------------------------*/




// Style for my pagination
.pagination
    text-align center
.pagination__element
    background wf_background-pagination
    rem-fallback( margin, 0 4px )
    transition( all, 0.25s )
    &:hover
        background wf_background-pagination-hover
.pagination__element--links
    rem-fallback( padding, 12px )
