/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS ARTICLE
//\*------------------------------------*/




// Style for articles
.articles
    width 100%
    rem-fallback( margin-bottom, 48px )

.articles__img
    width 25%
    +media-query( screen, max-width 820px )
        display none

.articles__body
    width 75%
    rem-fallback( padding, 0 24px )
    +media-query( screen, max-width 820px )
        width 100%
.body__dates
    font-style italic
    rem-fallback( margin-bottom, 8px )
