/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS ARTICLE
//\*------------------------------------*/




// Style for articles
.articles
    width 100%
    rem-fallback( margin, 24px 0 )

.articles__img
    width 25%

.articles__body
    width 75%
    rem-fallback( padding, 0 24px )
.body__dates
    font-style italic
    rem-fallback( margin-bottom, 8px )
