/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS GALLERY
//\*------------------------------------*/




// Style for show gallery
.gallery
    width: 20%
    rem-fallback( padding, 8px )

    +media-query( screen, max-width 960px )
        width 25%
    +media-query( screen, max-width 490px )
        width 50%

.gallery__link
    transition( all, 0.25s )
    &:hover
        opacity 0.6

.gallery__img
    width 100%
    rem-fallback( margin-bottom, 12px )
    rem-fallback( max-height, 125px )
