/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS SPECIFICS
//\*------------------------------------*/




// Style for default information
.hightlight
    rem-fallback( font-size, 14px )
    font-family wf_font-bold

.asterisque
    color wf_asterisque

.quote
    position: absolute
    rem-fallback( width, 660px )
    rem-fallback( height, 40px )
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    rem-fallback( font-size, 44px )
    font-family wf_font-quote
    font-style italic
    color wf_quote-color
    text-align center
    text-shadows( 2px, 2px, 0, 0.6 )

    +media-query( screen, max-width 820px )
        rem-fallback( width, 440px )
        rem-fallback( font-size, 32px )
.quote__link
    text-shadows( 1.5px, 1.5px, 0, 0.6 )

.programme
    width 50%

    +media-query( screen, max-width 820px )
        width 100%
        padding 0
        margin 0


.tarif
    list-style-type none
.tarif__element
    &:before
        content "- "
