/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS FORMS
//\*------------------------------------*/




// Forms
.forms__newsletter
    position relative
.newsletter__submit
    position absolute
    rem-fallback( width, 25px )
    rem-fallback( height, 25px )
    background: url("images/sprite.png") -90px -10px
    rem-fallback( top, 9px )
    rem-fallback( right, 5px )
    border none
    border-radius( 0.5rem )
    rem-fallback( text-indent, -1000000px )
    &:hover
        cursor pointer

.forms
.input__text
    width 100%
    background-color wf_form-background-color
    rem-fallback( padding, 12px 24px )
    border none
    border-radius( 0.5rem )
    &:focus
        background-color wf_form-background-color-focus
        outline none

// Errors for forms
.error
    position relative
    display block
    rem-fallback( padding, 8px )
    rem-fallback( margin-top, 20px )
    border-top 1px solid wf_border-error
    text-align center
    &:after, &:before
        content ""
        position absolute
        width 0
        height 0
        bottom 100%
        left 50%
        border solid transparent
        pointer-events none
    &:after
        rem-fallback( margin-left, -10px )
        border-color wf_border-error-opacity
        border-bottom-color wf_background-parallax
        rem-fallback( border-width, 10px )
    &:before
        rem-fallback( margin-left, -12px )
        border-color wf_border-error-opacity
        border-bottom-color wf_border-error
        rem-fallback( border-width, 12px )
