/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS RESTAURANTS
//\*------------------------------------*/




// Style for show restaurants
.restaurants
    width: 33.333333%
    rem-fallback( max-height, 300px )
    rem-fallback( padding, 16px 8px )
    rem-fallback( margin-bottom, 24px )
    border-radius( 4px )
    transition( all, 0.5s )
    &:hover
        background: wf_background-restaurants
.restaurants__img
    rem-fallback( min-width, 320px )
    rem-fallback( min-height, 200px )
    rem-fallback( max-width, 325px )
    rem-fallback( max-height, 205px )
