/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS HEADER
//\*------------------------------------*/




// Footer Style
.footer__information
    width 16.666666%
.footer__newsletter
    float right
    width 20%
