/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS RESTAURANT
//\*------------------------------------*/




// Style for my restaurant
.restaurant
    padding 0
    margin 0

.restaurant__body
    width 75%
    rem-fallback( padding, 0 16px )

.restaurant__details
    width 25%
    rem-fallback( padding, 0 16px )
.restaurant__details--tel
    rem-fallback( margin, 8px 0 )
