/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
@font-face {
  font-family: "RochterQuote";
  src: url("fonts/Rochter/Rochester-Regular.otf");
}
@font-face {
  font-family: "RobotoLabeur";
  src: url("fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "RobotoNav";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoHeading";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
ul,
ol,
dd {
  margin-left: 16px;
  margin-left: 1rem;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
a {
  color: #3498db;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
a:hover {
  color: #90b4c5;
  text-decoration: none;
}
.removeLink {
  color: inherit;
  text-decoration: none;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "RobotoLabeur", sans-serif;
  background-color: wf_background-color;
  color: #7f8c8d;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
li > ul,
li > ol {
  margin-bottom: 0;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
h1,
.alpha {
  font-size: 41.887px;
  font-size: 2.6179375rem;
  padding: 24px 0 12px 0;
  padding: 1.5rem 0rem 0.75rem 0rem;
}
h1:first-child,
.alpha:first-child {
  padding-top: 0;
}
h2,
.beta {
  font-size: 34.269px;
  font-size: 2.1418125rem;
  padding: 24px 0 12px 0;
  padding: 1.5rem 0rem 0.75rem 0rem;
}
h2:first-child,
.beta:first-child {
  padding-top: 0;
}
h3,
.gamma {
  font-size: 25.888px;
  font-size: 1.618rem;
  padding: 24px 0 12px 0;
  padding: 1.5rem 0rem 0.75rem 0rem;
}
h3:first-child,
.gamma:first-child {
  padding-top: 0;
}
h4,
.delta {
  font-size: 21.18px;
  font-size: 1.32375rem;
  padding: 24px 0 12px 0;
  padding: 1.5rem 0rem 0.75rem 0rem;
}
h4:first-child,
.delta:first-child {
  padding-top: 0;
}
h5,
.epsilon {
  font-size: 16px;
  font-size: 1rem;
  padding: 24px 0 12px 0;
  padding: 1.5rem 0rem 0.75rem 0rem;
}
h5:first-child,
.epsilon:first-child {
  padding-top: 0;
}
h6,
.zeta {
  font-size: 13.09px;
  font-size: 0.818125rem;
  padding: 24px 0 12px 0;
  padding: 1.5rem 0rem 0.75rem 0rem;
}
h6:first-child,
.zeta:first-child {
  padding-top: 0;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.signature {
  font-size: 12px;
  font-size: 0.75rem;
  font-style: italic;
  padding-top: 32px;
  padding-top: 2rem;
  text-align: center;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.inline-block {
  display: inline-block;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.parallax__img {
  position: relative;
  min-height: 75vh;
}
.parallax__img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__body {
  position: relative;
  width: 100vw;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.header__nav {
  position: fixed;
  width: 100%;
  text-align: center;
  background: #3498db;
  padding: 8px 0;
  padding: 0.5rem 0rem;
  margin-top: 8px;
  margin-top: 0.5rem;
  z-index: 1;
}
.nav {
  border-top: 2px solid #fbfbfb;
  border-bottom: 2px solid #fbfbfb;
}
.nav__element {
  font-family: "RobotoNav", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 16px 0;
  padding: 1rem 0rem;
  margin: 0 12px;
  margin: 0rem 0.75rem;
}
.element__link {
  color: #fff;
  text-decoration: none;
}
.element__link:hover {
  color: #fff;
  padding-bottom: 4px;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #fff;
}
.banners {
  position: relative;
  width: 160px;
  width: 10rem;
}
.banners__link {
  position: absolute;
  top: -158px;
  top: -9.875rem;
  left: 0;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.parallax__body {
  padding: 4vh 10%;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.8);
  background: #fff;
}
.parallax__img--one {
  background: url("images/backgroundImage.jpg") center fixed no-repeat;
}
.parallax__img--two {
  background: url("images/backgroundImage1.jpg") center fixed no-repeat;
}
.parallax__img--three {
  background: url("images/backgroundImage2.jpg") center fixed no-repeat;
}
.parallax__img--four {
  background: url("images/backgroundImage3.jpg") center fixed no-repeat;
}
.parallax__img--five {
  background: url("images/backgroundImage4.jpg") center fixed no-repeat;
}
.parallax__img--six {
  background: url("images/backgroundImage5.jpg") center fixed no-repeat;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.error {
  position: relative;
  display: block;
  padding: 8px;
  padding: 0.5rem;
  margin-top: 20px;
  margin-top: 1.25rem;
  border-top: 1px solid #c0392b;
  text-align: center;
}
.error:after,
.error:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  pointer-events: none;
}
.error:after {
  margin-left: -10px;
  margin-left: -0.625rem;
  border-color: rgba(194,47,43,0);
  border-bottom-color: #fff;
  border-width: 10px;
  border-width: 0.625rem;
}
.error:before {
  margin-left: -12px;
  margin-left: -0.75rem;
  border-color: rgba(194,47,43,0);
  border-bottom-color: #c0392b;
  border-width: 12px;
  border-width: 0.75rem;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.one-whole {
  width: 100% !important;
}
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths {
  width: 50% !important;
}
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths {
  width: 33.3333333% !important;
}
.two-thirds,
.four-sixths,
.six-ninths,
.eight-twelfths {
  width: 66.6666666% !important;
}
.one-quarter,
.two-eighths,
.three-twelfths {
  width: 25% !important;
}
.three-quarters,
.six-eighths,
.nine-twelfths {
  width: 75% !important;
}
.one-fifth,
.two-tenths {
  width: 20% !important;
}
.two-fifths,
.four-tenths {
  width: 40% !important;
}
.three-fifths,
.six-tenths {
  width: 60% !important;
}
.four-fifths,
.eight-tenths {
  width: 80% !important;
}
.one-sixth,
.two-twelfths {
  width: 16.6666666% !important;
}
.five-sixths,
.ten-twelfths {
  width: 83.3333333% !important;
}
.one-eighth {
  width: 12.5% !important;
}
.three-eighths {
  width: 37.5% !important;
}
.five-eighths {
  width: 62.5% !important;
}
.seven-eighths {
  width: 87.5% !important;
}
.one-ninth {
  width: 11.1111111% !important;
}
.two-ninths {
  width: 22.2222222% !important;
}
.four-ninths {
  width: 44.4444444% !important;
}
.five-ninths {
  width: 55.5555555% !important;
}
.seven-ninths {
  width: 77.7777777% !important;
}
.eight-ninths {
  width: 88.8888888% !important;
}
.one-tenth {
  width: 10% !important;
}
.three-tenths {
  width: 30% !important;
}
.seven-tenths {
  width: 70% !important;
}
.nine-tenths {
  width: 90% !important;
}
.one-twelfth {
  width: 8.3333333% !important;
}
.five-twelfths {
  width: 41.6666666% !important;
}
.seven-twelfths {
  width: 58.3333333% !important;
}
.eleven-twefths {
  width: 91.6666666% !important;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.hiddenTitle {
  position: absolute !important;
  top: -100000em !important;
  left: -100000em !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  text-indent: -100000em !important;
}
/*
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
