// - includes/footer.jade

div.parallax__body.myFooter
    footer
        section.inline-block.footer__information
            h5.delta Navigation
            ul
                li
                    a(href="evenements.html") Événements
                li
                    a(href="blog.html") Actualités
                li
                    a(href="restaurants.html") Restaurants
                li
                    a(href="contact.html") Contact
        
        section.inline-block.footer__information
            h5.delta Notre adresse
            p
                span.block.hightlight Mail&nbsp;: 
                a(href="mailto adress@gmail.com") adress@gmail.com
            p
                span.block.hightlight Téléphone&nbsp;: 
                | 0476 34 21 67                                            
    
        section.inline-block.footer__information
            h5.delta Suivez-nous
            span.inline-block.social__link
                a(href="#").block.social__link--fb Facebook
            span.inline-block.social__link
                a(href="#").block.social__link--rss RSS
        
        section.inline-block.footer__newsletter
            h5.delta NewsLetter
            form#ancreError.forms__newsletter
                input(type="text" placeholder="votre@mail.com").input__text
                input(type="submit" value="S'inscrire").newsletter__submit
                span.error Il y a une faute de frappe bitchies
        
        div.signature
            p
                | Designed and created by&nbsp;
                a(href="http://luc-matagne.be/Portfolio/") Luc Matagne
                | &nbsp;and&nbsp;
                a(href="http://portfolio.simon-leyder.be/") Simon Leyder
                |  &nbsp;@ 2014
