// - includes/footer.jade

div.slideText.myFooter
    footer
        section.nav
            h4 Navigation
            ul
                li
                    a(href="html/evenements.html") Événements
                li
                    a(href="html/blog.html") Actualités
                li
                    a(href="html/restaurants.html") Restaurants
                li
                    a(href="html/contact.html") Contact
        section.looking
            h4 Notre adresse
            p
                span Mail&nbsp;: 
                a(href="mailto adress@gmail.com") adress@gmail.com
            p
                span Téléphone&nbsp;: 
                | 0476 34 21 67                                            
        section.follow
            h4 Suivez-nous
            ul
                li.fb
                    a(href="#") Facebook
                li.rss
                    a(href="#") RSS
        section.newsletter
            h4 NewsLetter
            form#ancreError
                input(type="text" placeholder="votre@mail.com")
                input(type="submit" value="S'inscrire")
                span.error Il y a une faute de frappe bitchies
        div.designed
            p
                | Designed and created by&nbsp;
                a(href="http://luc-matagne.be/Portfolio/") Luc Matagne
                | &nbsp;and&nbsp;
                a(href="http://portfolio.simon-leyder.be/") Simon Leyder
                |  &nbsp;@ 2014
