// - includes/header.jade

header.header
    h1.hiddenTitle Bienvenue sur le site de Resto Rallye 
    nav.header__nav
        div.nav
            h2.hiddenTitle Menu de navigation du site
            span.inline-block.nav__element
                a(href="evenements.html").element__link Événements
            span.inline-block.nav__element
                a(href="blog.html").element__link Actualités
            span.inline-block.banners
                a(href="index.html").banners__link
                    img(src="../css/images/Ecusson.png", alt="Banners Resto Rallye")
            span.inline-block.nav__element
                a(href="restaurants.html").element__link Restaurants
            span.inline-block.nav__element
                a(href="contact.html").element__link Contact
