// - includes/header.jade

header
    h1.hiddenTitle Bienvenue sur le site de Resto Rallye 
    nav
        h2.hiddenTitle Menu de navigation du site
        ul
            li
                a(href="evenements.html") Événements
            li
                a(href="blog.html") Actualités
            li.banners
                a(href="index.html")
                    img(src="../css/images/Ecusson.png", alt="Banners Resto Rallye")
            li
                a(href="restaurants.html") Restaurants
            li
                a(href="contact.html") Contact
