/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #OBJECTS PARALLAX
//\*------------------------------------*/




// Parallax placements
.parallax__img
    position static
    min-height 45vh

    +media-query( screen, max-width 1020px )
        min-height 40vh
    +media-query( screen, max-width 490px )
        min-height 25vh

.parallax__body
    rem-fallback( max-width, 1260px )
    margin 0 auto

    +media-query( screen, max-width 1020px )
        rem-fallback( max-width, 1000px )
    +media-query( screen, max-width 960px )
        rem-fallback( max-width, 720px )
    +media-query( screen, max-width 490px )
        rem-fallback( max-width, 440px )

.parallax__map
    position static
    min-height 60vh

    +media-query( screen, max-width 1020px )
        min-height 40vh
    +media-query( screen, max-width 490px )
        min-height 25vh
