/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #OBJECTS NAVIGATION
//\*------------------------------------*/




// Header navigation menu
.header__nav
    text-align center

.nav__element
    display inline-block
