/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #OBJECTS PARALLAX
//\*------------------------------------*/




// Parallax placements
.parallax__img
    position relative
    rem-fallback( min-height, 550px )
    &:before
        content ""
        position absolute
        top 0
        right 0
        bottom 0
        left 0

.parallax__body
    rem-fallback( max-width, 1260px )
    margin 0 auto
