/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font: 16px/1.5 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #7f8c8d;
}

h2 {
  text-indent: -100em;
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  color: #677171;
}

a {
  color: #3498db;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
a:hover {
  color: #90b4c5;
  text-decoration: none;
}

.error {
  display: block;
  position: relative;
  border-top: 1px solid #c0392b;
  margin-top: 1.25em;
  padding: 0.5em;
  text-align: center;
}

.error:after, .error:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.error:after {
  border-color: rgba(194, 47, 43, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.error:before {
  border-color: rgba(194, 47, 43, 0);
  border-bottom-color: #c0392b;
  border-width: 12px;
  margin-left: -12px;
}

.stick {
  margin-top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.stick ul {
  padding: 1em 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

nav {
  background: #3498db;
  margin-top: 1.5em;
  padding: 0.5em 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav ul {
  text-align: center;
  border-top: 2px solid #fbfbfb;
  border-bottom: 2px solid #fbfbfb;
  padding: 1.75em 0;
}
nav li {
  display: inline-block;
  padding: 0 1em;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: white;
  padding-bottom: 0.25em;
  border-bottom: 1px solid white;
}

.banners {
  position: relative;
  width: 160px;
  margin: 0;
  padding: 0;
}
.banners img {
  display: block;
  width: 160px;
  position: absolute;
  top: -8em;
  left: 0;
  z-index: 9999;
}

.slideImage {
  position: relative;
  min-height: 85vh;
  box-sizing: border-box;
  transform-style: inherit;
}
.slideImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slideText {
  position: relative;
  padding: 8vh 10%;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.8);
  transform-style: inherit;
  background: #ffffff;
}

#slide1 {
  background-image: url("images/backgroundImage.jpg");
  background-attachment: fixed;
}

#slide2 {
  background-image: url("images/backgroundImage1.jpg");
  background-attachment: fixed;
}

#slide3 {
  background-image: url("images/backgroundImage2.jpg");
  background-attachment: fixed;
}

footer section {
  display: block;
  width: 16%;
  float: left;
  margin-right: 0.5em;
}
footer:after {
  display: block;
  clear: both;
  content: "";
}
footer li {
  padding: 0.15em 0;
}

h4 {
  padding-bottom: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  font-weight: 100;
  color: #677171;
}

.looking p {
  padding-bottom: 0.85em;
  font-style: italic;
}
.looking p:last-child {
  padding: 0;
}
.looking span {
  display: block;
  padding-bottom: 0.3em;
  font-size: 0.85em;
  font-style: normal;
  font-weight: bold;
}

.follow li {
  display: inline-block;
  text-indent: -100em;
  width: 35px;
  height: 35px;
  margin-right: 0.5em;
  opacity: 0.5;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.follow li:hover {
  opacity: 1;
}
.follow .rss {
  background: url("images/sprite.png") -70px -10px;
}
.follow .fb {
  background: url("images/sprite.png") -10px -10px;
}

.newsletter {
  width: 20%;
  float: right;
  margin: 0;
}
.newsletter form {
  position: relative;
}
.newsletter input[type=text] {
  width: 100%;
  border: none;
  padding: 1em 1.5em;
  background-color: #eeeeee;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  box-sizing: border-box;
}
.newsletter input[type=text]:focus {
  outline: none;
  background-color: #f5f5f5;
}
.newsletter input[type=submit] {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 25px;
  height: 25px;
  text-indent: -100em;
  border: none;
  background: url("images/arrow.png") no-repeat center;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
}
.newsletter input[type=submit]:hover {
  cursor: pointer;
}
.newsletter:after {
  display: block;
  clear: both;
  content: "";
}

.designed {
  font-size: 0.85em;
  padding-top: 2em;
  font-style: italic;
  text-align: center;
}

/*# sourceMappingURL=screen.css.map */
