/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    20px
wf_space-unit                   =    wf_font-size
wf_font-labeur                  =    "RobotoLabeur", sans-serif
wf_font-bold                    =    "RobotoBold", sans-serif
wf_font-nav                     =    "RobotoNav", sans-serif
wf_font-heading                 =    "RobotoHeading", sans-serif
wf_font-quote                   =    "RochterQuote", sans-serif

// Text colors.
wf_labeur-color                 =    #7f8c8d
wf_heading-color                =    #677171
wf_nav-color                    =    #ffffff
wf_link-color                   =    #3498db
wf_link-color-hover             =    #90b4c5
wf_quote-color                  =    #eaeaea
wf_error-color                  =    #c0392b

// Background colors.
wf_background-color             =    #ffffff
wf_background-header            =    #3498db
wf_background-footer            =    #ffffff

// Border colors
wf_border-menu                  =    #fbfbfb
wf_border-error                 =    #c0392b

// Forms settings
wf_form-background-color        =    #eeeeee
wf_form-background-color-focus  =    #f5f5f5
