///*------------------------------------*\
//    #SETTINGS FONT-FACE
//\*------------------------------------*/




// Init personnal Font
@font-face
    font-family: "RochterQuote"
    src: url( "fonts/Rochter/Rochester-Regular.otf" )

@font-face
    font-family: "Roboto"
    src: url( "fonts/Roboto/Roboto-Light.ttf" )

@font-face
    font-family: "RobotoBold"
    src: url( "fonts/Roboto/Roboto-Bold.ttf" )

@font-face
    font-family: "RobotoNav"
    src: url( "fonts/Roboto/Roboto-Regular.ttf" )
