/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #SETTINGS FONT-FACE
//\*------------------------------------*/




// Init personnal Font
font-face( "RochterQuote", "fonts/Rochter/Rochester-Regular.otf", normal )

font-face( "RobotoLabeur", "fonts/Roboto/Roboto-Light.ttf", lighter )

font-face( "RobotoBold", "fonts/Roboto/Roboto-Bold.ttf", bold )

font-face( "RobotoNav", "fonts/Roboto/Roboto-Regular.ttf", normal )

font-face( "RobotoHeading", "fonts/Roboto/Roboto-Thin.ttf", lighter )
