///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_font-labeur                  =    "Roboto", sans-serif
wf_font-bold                    =    "RobotoBold", sans-serif
wf_font-nav                     =    "RobotoNav", sans-serif
wf_font-heading                 =    "Roboto", sans-serif
wf_font-quote                   =    "RochterQuote", sans-serif

// Text colors.
wf_labeur-color                 =    #404646
wf_heading-color                =    #363b3b
wf_nav-color                    =    #ffffff
wf_link-color                   =    #3498db
wf_link-color-hover             =    #6f909d
wf_quote-color                  =    #eaeaea
wf_error-color                  =    #c0392b
wf_asterisque                   =    #3498db

// Background colors.
wf_background-header            =    #3498db
wf_background-parallax          =    #ffffff
wf_background-footer            =    #ffffff
wf_background-thumbnails        =    #d0d0d0
wf_background-submit            =    #3498db
wf_background-submit-hover      =    #6f909d
wf_background-anchor            =    #3498db
wf_background-anchor-hover      =    #6f909d

// Border colors
wf_border-forms                 =    #aaaaaa
wf_border-menu                  =    #fbfbfb
wf_border-error                 =    #c0392b
wf_border-error-opacity         =    rgba(194, 47, 43, 0)

// Forms settings
wf_form-placeholder-color       =    #8e8e8e
wf_form-background-color        =    #ffffff
wf_form-background-color-focus  =    #fafafa
