/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    20px
wf_space-unit                   =    wf_font-size
wf_font-labeur                  =    "RobotoLabeur", sans-serif
wf_font-bold                    =    "RobotoBold", sans-serif
wf_font-nav                     =    "RobotoNav", sans-serif
wf_font-heading                 =    "RobotoHeading", sans-serif
wf_font-quote                   =    "RochterQuote", sans-serif

// Text colors.
wf_labeur-color                 =    #5b6464
wf_heading-color                =    #545d5d
wf_nav-color                    =    #ffffff
wf_link-color                   =    #3498db
wf_link-color-hover             =    #90b4c5
wf_quote-color                  =    #eaeaea
wf_error-color                  =    #c0392b
wf_asterisque                   =    #3498db

// Background colors.
wf_background-header            =    #3498db
wf_background-parallax          =    #ffffff
wf_background-footer            =    #ffffff
wf_background-thumbnails        =    #f5f5f5
wf_background-pagination        =    #f5f5f5
wf_background-pagination-hover  =    #fafafa
wf_background-submit            =    #3498db
wf_background-submit-hover      =    #6db1d8

// Border colors
wf_border-menu                  =    #fbfbfb
wf_border-error                 =    #c0392b
wf_border-error-opacity         =    rgba(194, 47, 43, 0)

// Forms settings
wf_form-background-color        =    #f5f5f5
wf_form-background-color-focus  =    #fafafa
