/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #SETTINGS FONT-FACE
//\*------------------------------------*/




// Init personnal Font
@font-face
    font-family: "RochterQuote"
    src: url( "fonts/Rochter/Rochester-Regular.otf" )

@font-face
    font-family: "RobotoLabeur"
    src: url( "fonts/Roboto/Roboto-Light.ttf" )

@font-face
    font-family: "RobotoBold"
    src: url( "fonts/Roboto/Roboto-Bold.ttf" )

@font-face
    font-family: "RobotoNav"
    src: url( "fonts/Roboto/Roboto-Regular.ttf" )

@font-face
    font-family: "RobotoHeading"
    src: url( "fonts/Roboto/Roboto-Thin.ttf" )
