=transition( $where, $times )
	-webkit-transition: $where $times
	-moz-transition:    $where $times
	-ms-transition:     $where $times
	transition:         $where $times
=border-radius( $radius1, $radius2, $radius3, $radius4 )
	-webkit-border-radius: $radius1 $radius2 $radius3 $radius4
	-moz-border-radius:    $radius1 $radius2 $radius3 $radius4
	-ms-border-radius:     $radius1 $radius2 $radius3 $radius4
	border-radius:         $radius1 $radius2 $radius3 $radius4
=box-shadows( $angle, $blur, $color, $opa )
	-webkit-box-shadow: $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	-moz-box-shadow:    $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	box-shadow:         $angle $angle $blur 0px rgba($color, $color, $color, $opa)
=grayScale( $level )
	-webkit-filter: grayscale( $level )
	-moz-filter: 	grayscale( $level )
	-ms-filter: 	grayscale( $level )
	-o-filter: 		grayscale( $level )
=headFontStyle( $size )
	font-family: $headFont
	font-size: $size
	text-transform: uppercase
=headingStyle( $size )
	font-family: $headingFont
	font-size: $size
	font-weight: 100
	color: $headingColor
=clearFloat()
	display: block
	clear: both
	content: ""
=getOffMyPage()
	text-indent: -100em
	display: none
