@import 'resetMeyer'

@import 'rules'
@import 'colors'
@import 'mixins'

html
    font: $regularFont
    height: 100%
    overflow: hidden
body
    transform-style: preserve-3d
    height: 100%
    overflow-y: scroll
    overflow-x: hidden
    color: $color
h2
    +getOffMyPage()
h1, h2, h3, h4, h5, h6
    +headingStyle( 1.5em )
a
    color: $linkColor
    +transition( all, 0.25s )
    &:hover
        color: $hoverLinkColor
        text-decoration: none

//Style header
.stick
    margin-top: 0
    +transition( all, 0.5s )
    ul
        padding: 1em 0
        +transition( all, 0.5s )
nav
    background: $headerBackground
    margin-top: 1.5em
    padding: 0.5em 0
    position: fixed
    width: 100%
    z-index: 1
    ul
        text-align: center
        border-top: 2px solid $borderMenuTop
        border-bottom: 2px solid $borderMenuTop
        padding: 1.75em 0
    li
        display: inline-block
        padding: 0 1em
        color: $headerColor
        +headFontStyle( 1.25em )
    a
        text-decoration: none
        color: white
        +transition( all, 0.25s )
        &:hover
            color: white
            text-decoration: underline
.banners
    position: relative
    width: 160px
    margin: 0
    padding: 0
    img
        display: block
        width: 160px
        position: absolute
        top: -8em
        left: 0
        z-index: 9999

//Pure CSS - Parallax
.slideImage
    position: relative
    min-height: 85vh
    box-sizing: border-box
    transform-style: inherit
    &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
.slideText
    position: relative
    padding: 8vh 10%
    width: 100vw
    box-sizing: border-box
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.8)
    transform-style: inherit
    background: $slideText
//Images Parallax accueil
#slide1
    background-image: url("images/backgroundImage.jpg")
    background-attachment: fixed
#slide2
    background-image: url("images/backgroundImage1.jpg")
    background-attachment: fixed
#slide3
    background-image: url("images/backgroundImage2.jpg")
    background-attachment: fixed

//Style footer
footer
    section
        display: block
        width: 16%
        float: left
        margin-right: 0.5em
    &:after
        +clearFloat()
    li
        padding: 0.15em 0
h4
    padding-bottom: 1em
    +headingStyle( 1.15em )
.myFooter
    background-color: $footerBackground
.newsletter
    width: 20%
    float: right
    margin: 0
    input[type=text]
        width: 80%
        float: left
        padding: 0.5em 1em
        box-sizing: border-box
        +border-radius( 0.5em, 0, 0, 0.5em )
    input[type=submit]
        color: $color
        width: 20%
        float: right
        padding: 0.5em 1em
        +border-radius(  0, 0.5em, 0.5em, 0 )
        &:hover
            cursor: pointer
    input[type="text"]:focus, input[type="password"]:focus, textarea:focus
        outline: none
    &:after
        +clearFloat()
.designed
    font-size: 0.85em
    padding-top: 2em
    font-style: italic
    text-align: center

//@import 'tablette'
//@import 'smartphone'
